button {
  margin: 0.2rem;
  padding: 0.5rem 0.8rem;
  border: 0;
  border: 2px solid var(--outline);
  background-color: transparent;

  font-size: 0.8rem;
  color: var(--Primary);
  font-family: inherit;
  letter-spacing: 0.05rem;

  transition: var(--transition);
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: var(--onPrimaryContainer);
  /* box-shadow: 0px 15px 20px var(--outline); */
  /* transform: translateY(-7px); */
  color: var(--onPrimary);
}

button:disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: not-allowed;
}

button:disabled:hover {
  transform: translateY(0);
  box-shadow: none;
}
