@import '../Abstracts/_index.css';

label {
  margin-right: 0.3rem;
  color: var(--textColor);
}

label.disabled {
  opacity: 0.5;
}

input {
  width: 3rem;
  margin: 0.2rem;
  padding: 0.3rem;
  border: 0;
  background-color: var(--bgInput);
  font-size: 1rem;
}

input.error {
  background-color: red;
}

input:focus {
  /* color: var(--textColor); */
  outline: var(--fifthColor) solid 0.25rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}
