aside#info-modal {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--SurfaceVariant);

  transition: var(--transition);
  border-radius: var(--borderRadius);
  color: var(--Primary);
}

aside#info-modal > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

aside#info-modal p {
  margin-bottom: 0.5rem;
  width: 20rem;
  display: flex;
  justify-content: space-between;
}

aside#info-modal > div > div > p {
  width: 10rem;
}

aside#info-modal > div > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

aside#info-modal > div > button:first-child {
  position: absolute;
  top: -1rem;
  right: 0;
}
aside#info-modal > div > button:last-child {
  align-self: center;
}
