@import '../Abstracts/_index.css';

.modal-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--fourthColor);
  justify-content: center !important;
  transition: var(--transition);
  border-radius: 2rem;
}

.modal-container {
  border-radius: 15px;
  background-color: var(--secondColor);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--textColor);
}

.modal-background button {
  align-self: flex-end;
}

.modal-container > div {
  margin: 0.5rem;
}
