.toggle-darkMode {
  font-size: 0.17rem;
  position: relative;
}

.toggle-checkbox {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.toggle-slot {
  position: relative;
  height: 10em;
  width: 20em;
  border-radius: 10em;
  background-color: var(--PrimaryContainer);
  transition: var(--transition-toggle-slot);
  cursor: pointer;
}

.toggle-slot:hover {
  background-color: var(--onPrimaryContainer);
}

.toggle-slot:hover .sun-icon {
  color: var(--onPrimary);
}

.toggle-slot:hover .moon-icon {
  color: var(--onPrimary);
}

.toggle-slot:hover .toggle-button {
  background-color: var(--onPrimary);
}

.toggle-button {
  transform: translate(11.75em, 1.75em);
  position: absolute;
  height: 6.5em;
  width: 6.5em;
  border-radius: 50%;
  background-color: var(--Primary);
  transition: var(--transition-toggle-button);
}

.toggle-checkbox:checked ~ .toggle-slot .toggle-button {
  transform: translate(1.75em, 1.75em);
}

.sun-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: var(--Primary);
}

.sun-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 1;
  transform: translate(2em, 2em) rotate(15deg);
  transform-origin: 50% 50%;
  transition: var(--transition-sun-icon);
}

.toggle-checkbox:checked ~ .toggle-slot .sun-icon-wrapper {
  opacity: 0;
  transform: translate(3em, 2em) rotate(0deg);
}

.moon-icon {
  position: absolute;
  height: 6em;
  width: 6em;
  color: var(--Primary);
}

.moon-icon-wrapper {
  position: absolute;
  height: 6em;
  width: 6em;
  opacity: 0;
  transform: translate(11em, 2em) rotate(0deg);
  transform-origin: 50% 50%;
  transition: var(--transition-moon-icon);
}

.toggle-checkbox:checked ~ .toggle-slot .moon-icon-wrapper {
  opacity: 1;
  transform: translate(12em, 2em) rotate(-15deg);
}
