article#box-editor {
  position: relative;

  background-color: var(--SurfaceVariant);
}

article#box-editor > section > figure {
  justify-self: stretch !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

article#box-editor figcaption {
  color: var(--Primary);
}

article#box-editor .preview-box {
  background-color: var(--SecondaryContainer);
}

article#box-editor .preview-box:hover {
  background-color: var(--onPrimaryContainer);
  color: var(--onSecondary);
}
