@import '../Abstracts/_index.css';

*::-webkit-scrollbar {
  width: 0.8rem;
}

*::-webkit-scrollbar-track {
  background: var(--primaryColor);
}

*::-webkit-scrollbar-thumb {
  background: var(--secondColor);
  border-radius: 1.6rem;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--thirdColor);
}

html {
  font-size: var(--fontSize);
}

body {
  margin: 0;
}

.App {
  /* height: calc(100vh - 2rem); */
  min-height: 100vh;

  padding: 1rem;
  background: var(--primaryColor);

  font-family: var(--fontSora);
  word-spacing: 0.3rem;
  letter-spacing: 0.2rem;

  transition: var(--transition);
}

main {
  display: grid;
  grid-template-columns: repeat(1, 90vw);
  grid-template-rows: repeat(3, auto);
  justify-content: center;
  grid-gap: 1.5rem;

  margin-top: 2rem;

  font-family: var(--fontRoboto);
}

@media only screen and (min-width: 992px) {
  main {
    grid-template-columns: repeat(2, 45vw);
    grid-template-rows: repeat(2, auto);
  }
}
